.logoImage{
    height: 40px;
}
/* search box stysing */
.myImput{
width: 570px;
height: 60px;
background: #F8F7F5;
border-radius: 6px 0px 0px 6px;
}
.myImput:focus{
    outline: none;
    box-shadow: none;
    font-size: 1.5rem;
    border-right: none;
}
.myInputBtn{
width: 111px;
height: 60px;
color: white;
font-weight: 700;
letter-spacing: 1px;
background: #F06C4E;
border-radius: 0px 6px 6px 0px;
}
.myInputBtn:hover{
    color: white;
}
.myInputBtn:focus{
    outline: none;
    box-shadow: none;
}
/* end search box styling */

/* start meal item styling */
.meal-item{
    border-radius: 1rem;
    box-shadow: 0px 4px 21px -12px rgba(0, 0, 0, 0.79);
    background: #f0edea;
}
.meal-item:hover{
    cursor: pointer;
}
.meal-image img{
    width: 100%;
    display: block;
    border-radius: 10px;
}
.meal-name h3{
    font-size: 2rem;
}
/* end meal item styling */
/* start searchResult item styling */
#searchResult{
    display: none;
}
/* end searchResult item styling */